# ===== JAVA / SPRING BOOT =====
.mvn/
*.class
*.jar
*.war
*.ear
*.log
/target


# ===== NODE / NEXT.JS =====
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env.local

# ===== IntelliJ IDEA  =====
.idea/
*.iws
*.iml
*.ipr
.mvn
.qodo/

# ===== NetBeans  =====
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ===== VS Code  =====
.vscode/

# ===== ENTORNO =====
.env
.env.properties
.env.local
.env.production
.gitignore

# ===== SISTEMA OPERATIVO =====
.DS_Store
Thumbs.db
desktop.ini

# ===== DOCKER =====
docker-data/

# =====  =====
resources/
